*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
}
.mainalign{
    background-color: #2F6B4F;
    height: 829px;
    margin: auto;
    width: 1100px;
}
#maintitle{
    color: white;
}
.flex2
{ 
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 10px;
}
#mar{
    margin-right: 25px;
}
.flex1{
    margin-left: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-right: 415px;
}
a{
    text-decoration: none;
    color: white;
}
#space{
    margin-top: 150px;
}
.ctxt{
    margin: auto;
    text-align: center;
    width: 800px;
}
#bigtxt{
    font-size: 54px;
    text-decoration: solid;
    color: white;
}
#txt2{
    margin: auto;
    width: 650px;
    color: white;
}
#button{
    margin-top: 48px;
    color: #2A2C3D;
    background-color: white;
    padding: 10px;
    text-decoration: solid;
}
#margintop{
    margin-top: 48px;
}
#empimage{
    width: 950px;
}
.numbers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}
.client{
    text-align: center;
    color: #2A2C3D;
    margin-left: 120px;
}
.servicebg,.align{
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 100px;
}
.servicebg{
    background-color: #f5f5f5;
    height: 690px;
}
#txtcol{
    color: #2A2C3D;
}
#parasize{
    color: #2A2C3D;
    font-size: 36px;
}
.marginTL{
    margin-top: 48px; 
    margin-left: 10px;   
}
.options,.optionC{
    background-color: white;
    box-shadow: 5px 5px rgb(223, 222, 222);
    padding: 10px;
    color: #2A2C3D;
    text-align: center;
    width: 200px;
    display: inline-block;
}
.marginTfont{
    font-size: 24px;
}
#imagesize{
    margin-top: 15px;
    width: 48px;
    height: 48px;
}
.optionC{
    margin-left: 110px;
    margin-right: 110px;
}
#himg{
    width: 250px;
}
.divA,.divB,.divC{
    display: inline-block;  
}
.divB{
    margin-right: 71px;
    margin-left: 71px;
}
#bfont{
    font-size: 20px;
    margin-top: 16px;
}
#imargin{
    margin-top: 8px;
}
.display,.display2{
    display: inline-block;
}
.display2{
    margin-right: 71px;
    margin-left: 71px;
}